// Specific CSS for your home-page
$grey: rgb(239, 231, 233);
$bleu: rgb(141, 217, 222);
$coral: rgb(236, 145, 146);


.banner {
  // padding: 24px 0;
  text-align: center;
  color: rgb(141, 217, 222);
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('bibi3.jpeg');
  img{
  height: 100px;
  }
}

.bannerHeader {
  text-align: center;
  padding-top: 0;
}
.bannerEnd {
  text-align: center;
  padding-bottom: 0;
}


#link{
border-radius: 50%;
}


.intro{
  color: rgb(239, 231, 233);
  text-align: center;
}

  .box {
  display: flex;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  margin-bottom: 70px;
  }

  .card-poussette {
    background-image: url("pouss.jpeg");
    margin-top: 20px;
    border-radius: 100%;

  }

  .card-siege{
  background-image: url("siegeauto.jpeg");
  margin-top: 20px;
  border-radius: 100%;

  }

  .product-card-home {
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  color: $coral;
  }

  .about {
  text-align: center;
  h3{
    color: $coral;
  }
}
.formulaire{
  text-align: center;
  color:rgb(236, 145, 146);
  display: flex;
  justify-content: center;
  margin-top: 20px;
  border-radius: 20px;
}
h2{
  color:rgb(236, 145, 146);
  text-align: center;
  margin-top: 30px;
}
