// Specific CSS for your home-page
.banner{
  padding: 24px 0;
  text-align: center;
  color: rgb(148, 229, 239);
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('poussette.jpeg');
}

.intro{
  color: white;
  text-align: center;
}

.ville{
  color: rgb(87, 83, 83);
  border-radius: 50px;
  padding: 6px;
  opacity: 0.6;
}

  .btn-ghost {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 25px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }

  .btn-ghost:hover {
    opacity: 1;
  }
