// Specific CSS for your home-page
$grey: rgb(239, 231, 233);
$bleu: rgb(114, 158, 161);
$coral: rgb(236, 145, 146);


.banner{
  padding: 24px 0;
  text-align: center;
  color: rgb(148, 229, 239);
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('poussette.jpeg');
}
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.intro{
  color: white;
  text-align: center;
}

.ville{
  display: flex;
  align-items: center;
}
