<div class="banner" >
    <h1>BABY BUGGY</h1>
    <h2><strong>Location de poussettes et sieges auto </strong></h2>
    <h2><strong>Rejoinez nous</strong></h2>
    <p>Louer maintenant partout en France.</p>
</div>


<div class ="link">
<div class= "d-flex align-items-center justify-content-center localisation px-30 " >
    <form  action="" class="formulaire">
    <input class="champ" type="text" value="sélectionnez votre ville">
    </form>
  </div>
</div>


<div class="box">

    <%= link_to products_path do %>
      <div class="product-card-home card-poussette">
        <h3>Poussettes </h3>
      </div>
    <% end %>

    <%= link_to products_path do %>
      <div class="product-card-home card-siege">
        <h3>Sièges auto </h3>
      </div>
    <% end %>
</div>


<div class= "about">
<h3><STRONG>Pourquoi choisir Baby Buggy ?</STRONG></h3>


<p>
Vous partez en vacances en n avion inutile de faire voyager la poussette et le siège auto au risque qu'ils soient égarés durant le transport. Louez votre équipement avant votre départ et convenez d'une date de livraison sur votre lieu de vacances ! Une solution simple et rapide !</p>
en voiture, inutile de  vous encombrer avec la poussette , louez là sur place en 2 clics, elle sera à votre disposition dès votre arrivée !
<p>La location vous permet de voyager léger avec bébé lors de vos départs en vacances et est aussi une alternative à un achat couteux pour une courte durée.
</p>
</div>
