<div class="intro">
<h3>NAV BAR</h3></div>
<div class="banner" >
    <h1>BABY BUGGY</h1>
    <h2><strong>Location de poussettes et sieges auto </strong></h2>
    <h2><strong>Rejoinez nous</strong></h2>
    <p>Louer maintenant partout en France.</p>
</div>

<div class="container-fluid mx-auto my-0">


<div class= "d-flex align-items-center justify-content-center localisation px-30 " id="searchbar">
    <a class="btn btn-ghost" href="#">date du début</a>
    <a class="btn btn-ghost" href="#">date de fin</a>
    <form class= "ville" action=“” class=“formulaire”>
      <input class=“champ” type=“text” value=ville>
    </form>

  </div>
</div>

<div class="card-product">
  <img src=".. app/assets/images/model.jpg" />
  <div class="card-product-infos">
    <p>trouver ma poussette</p>
  </div>

  <img src=".. app/assets/images/model.jpg" />
  <div class="card-product-infos">
    <p>trouver mon siége auto</p>
  </div>
</div>
