<div class="intro">
<h3>NAV BAR</h3></div>
<div class="banner" >
    <h1>BABY BUGGY</h1>
    <h2><strong>Location de poussettes et sieges auto </strong></h2>
    <h2><strong>Rejoinez nous</strong></h2>
    <p>Louer maintenant partout en France.</p>

</div>
<div class="ville" id=“searchbar”>
        <form action=“” class=“formulaire”>
            <input class=“champ” type=“text” value=ville>
        </form>

        <form action=“” class=“formulaire”>
            <input class=“champ” type=“text” value=date>
        </form>
    </div>
<div><i class="fa-solid fa-baby-carriage"></i></div>
