
<div class= "d-flex align-items-center justify-content-center localisation px-30 " id="searchbar">
    <a class="btn btn-ghost" href="#">date du début</a>
    <a class="btn btn-ghost" href="#">date de fin</a>
    </div>
